{% load static %}

<!DOCTYPE html> 
<html>
    <head> 

            <title> Home </title> 

            

            <link rel = "stylesheet" type = "text/css" href= {% static 'css/style2.css' %}>

    </head>

<body>
    <div class =  "topnav">

            <a href = "{%url 'new_sites:index' %}">HOME</a> </li>
            <a href = "{%url 'new_sites:post_list' %}">POSTS</a> </li>
            <a href = "{%url 'new_sites:videos' %}">VIDEOS</a> </li>
            <a href = "{%url 'new_sites:book_list' %}">BOOKS</a> </li>
            <a href = "{%url 'new_sites:contact' %}">CONTACT</a> </li>

            {% if user.is_authenticated%}
                 .

            <a href="{% url 'users:logout'%}">LOG-OUT</a> </li>
            {%else%}
            {%endif%}
            

    </div>

    <div class = 'body-text'>


<!--- 
        <h1> Hello World </h1>
            <form action=''> 
                <input type='text' name = 'abc' />
            
                <input type='submit' /> 
            
            </form> 
-->
        {%block content%} {%endblock content%}
    </div>

</body>

</html>