{%extends 'new_sites/base.html'%}

{%block content%}
<div class = 'booklist'>
    
        {% for book in books%}

        <div class = 'book-order'>

                {% if book.cover%}
                <img src = "{{book.cover.url}}" alt = "{{book.title}}">
                {%endif%}
                
                <div class = "book-title">
                    <h2>Book Title :</h2> 
                    <h3> {{book.title}}</h3>

                    <div class = "book-author">
                        <h2>Book Author :</h2>
                        <h3>{{book.author}}</h3>
                    </div>
                    <div class = 'book-link'>
                        <a href="{{book.link}}">[Book Link]</a>
                    </div>

                    {%if book.owner == request.user and user.is_authenticated %}

                        <a href = "{%url 'new_sites:delete_book' book.id%}">Delete Book</a>
                        
                    {%endif%}
                </div>

          
        </div>
     
        {%endfor%}

</div>

        
{%if user.is_authenticated %}


<div class = 'add-book '>
    <a href="{% url 'new_sites:upload_book'%}">Add New Book</a>
</div>
{%endif%}

{%endblock content%}