
{%extends "new_sites/base.html"%}
{% load static %}
{%block content%}
<!DOCTYPE HTML>
<html> 
    <script>
        setTimeout(function() {
     document.getElementById('hide').style.display='none'
    }, 0);

        setTimeout(function(){
    			document.getElementById('myimage').style.display = 'block';
			},0);

window.onload = function(){start();} 
    </script>
<body>
        {%for topic in topics%}

        <div class = 'top-container'>

            <img id="myimage" src="{% static 'css/SFrozen.jpg' %}" style="display:none" alt = "{{topic.title}}" >
            {%if topic.image%} 
                <img id="hide" src="{{topic.image.url}}" alt = "{{topic.title}}" width="29" height="39">
            {%endif%}

            
        </div>

        <div class="mid-container">
        	{%include 'new_sites/midtext.html'%}
        </div>
                
            {% if topic.urllink%}
             <div class = 'video-link'>
                  <iframe width="{{ 480 }}" height="{{ 320 }}" src="{{ topic.urllink }}" frameborder="0" allowfullscreen>
                  </iframe>
             </div>
            {%endif%}

            {% if topic.urllink%}
                <div class = 'video-link'>
                    <iframe width="{{ 480 }}" height="{{ 320 }}" src="{{ topic.urllink }}" 
                        frameborder="0" allowfullscreen>
                    </iframe>
                </div>
            {%endif%}

            {%if topic.owner == request.user and user.is_authenticated %}
            <div id = 'mentry-text'>
                <a href = "{%url 'new_sites:delete_topichome' topic.id%}">Delete topic</a>
            </div>
            {% endif %}

        

        {%empty%}
            <li>No topics have been added yet.</li>
        {%endfor%}


    

    {%if user.is_authenticated %}

    <div class = 'add-book '>

        <a href="{% url 'new_sites:new_topichome'%}">Add Topic</a>

    </div>

    {%endif%}

    {%endblock content%}

</body>
</html>